


.root{
    -fx-spacing: 30;
    -fx-background-color: #dff3ff;
    -fx-padding: 10;
}
.button {
	-fx-font-family: "Gill Sans MT";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-test-fill: #383640;
	-fx-background-color: linear-gradient(#e0431c, #f3eae8 );
}
.button:hover {
    -fx-background-color: linear-gradient(#030203, #f3eae8 );
    -fx-text-fill: #ffffff
}
